html {
  box-sizing: border-box;
}

body {
  background-image: url("../images/math-operator.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Carter One", cursive;
}
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 80px;
}

h3 {
  font-size: 24px;
  padding-bottom: 10px;
}

.description {
  font-size: 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-block;
  padding: 20px;
  text-align: center;
}

#caption {
  margin-top: 2rem;
  font-size: 2em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 5em 0;

  /* 
  transform: translate(-50%, -50%); */
  width: 400px;
  background-color: #9b9999;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border-radius: inherit;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #414040;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.04)
  );
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
    inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
    0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  outline: none;
}

button:hover {
  background-color: #db1a1a;
  color: white;
  cursor: pointer;
}

.operator {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #414040;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
